@import url("https://fonts.googleapis.com/css?family=Inter");

@import "tailwindcss";

:root {
  /* Main app colours */
  --background: white;
  --primaryColor1: #029aa5;
  --primaryColor2: #04b9c6;
  --secondaryColor: #70706f;

  /* Main text colour */
  --textLight: white;
  --textDark: black;
  /* This is also used as a shadow */
  --formText: #70706f50;

  /* Gradient colours <- THIS IS NOT USED RIGHT NOW */
  --gradient1: #e9e9e9;
  --gradient2: #d4d4d4;

  /* Custom colours */
  --error: #c60452;
  --warning: #fcfc18;
  --success: #12de31;

  /* Route colours */
  --route1: red;
  --route2: blue;
  --route3: black;

  /* Custom variables */
  --cornerRadius: 30px;
  --margin: 24px;
  --titleTextSize: 30px;
  --miniTextSize: 13px;
  --regularTextSize: 16px;
}

body {
  overflow: hidden;
  overscroll-behavior: none;
  font-family: "Inter", sans-serif;
  background-color: var(--background);
  font-size: var(--regularTextSize);
  min-width: 300px;
}

/* Root variable classes */
.background {
  background-color: var(--background);
}
.primaryColor1BG {
  background-color: var(--primaryColor1);
}
.primaryColor1 {
  color: var(--primaryColor1);
}
.primaryColor2BG {
  background-color: var(--primaryColor2);
}
.errorBG{
  background-color: var(--error);
}
.primaryColor2 {
  color: var(--primaryColor2);
}
.secondaryColor {
  color: var(--secondaryColor);
}

.textLight {
  color: var(--textLight);
}
.textDark {
  color: var(--textDark);
}
.formText {
  color: var(--formText);
}

.error {
  background-color: var(--error);
}
.warning {
  background-color: var(--warning);
}
.success {
  background-color: var(--success);
}

.route1 {
  color: var(--route1);
}
.route2 {
  color: var(--route2);
}
.route3 {
  color: var(--route3);
}

.titleText {
  font-size: var(--titleTextSize);
  font-weight: bold;
}
.miniText {
  font-size: var(--miniTextSize);
  font-weight: bold;
}
