@import "../../../../Global.css";

/* General */
.mainHeaderHeight {
  min-height: 130px;
}

/* Login Page */
.loginRegistrationFormInput {
  height: 46px;
  width: 70%;
  background-color: var(--background);
  border-radius: var(--cornerRadius);
  box-shadow: 3px 4px 5px var(--formText);
  color: var(--secondaryColor);
  padding-left: 20px;
}

.nameFormInput {
  height: 46px;
  width: 50%;
  background-color: var(--background);
  border-radius: var(--cornerRadius);
  box-shadow: 3px 4px 5px var(--formText);
  color: var(--secondaryColor);
  padding-left: 20px;
}

.loginRegistrationButton {
  height: 46px;
  width: 70%;
  background-color: var(--primaryColor1);
  border-radius: var(--cornerRadius);
  box-shadow: 3px 4px 5px var(--formText);
  color: var(--textLight);
}
.loginRegistrationButton:hover {
  scale: 1.015;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.loginGoogleRegistrationButton {
  height: 46px;
  width: 60%;
  background-color: var(--background);
  border-radius: var(--cornerRadius);
  border: 2px solid var(--formText);
}
.loginGoogleRegistrationButton:hover {
  scale: 1.015;
}

/* Home Page */
.close_button {
  background-color: var(--gradient2);
  width: 28px;
  height: 28px;
  padding-top: 1px;
  padding-left: 3px;
  border-radius: 50%;
  font-size: 20px;
}

/* Weather Map */
.weather-map-custom-icon .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 12px;
  font-weight: bold;
}
