@import "../../../../Global.css";

/* General */
.mainHeaderHeight {
  min-height: 130px;
}

/* Login Page */
.loginRegistrationFormInput {
  height: 46px;
  width: 70%;
  background-color: var(--background);
  border-radius: var(--cornerRadius);
  box-shadow: 3px 4px 5px var(--formText);
  color: var(--secondaryColor);
  padding-left: 20px;
}

.nameFormInput {
  height: 46px;
  width: 50%;
  background-color: var(--background);
  border-radius: var(--cornerRadius);
  box-shadow: 3px 4px 5px var(--formText);
  color: var(--secondaryColor);
  padding-left: 20px;
}

.loginRegistrationButton {
  height: 46px;
  width: 70%;
  background-color: var(--primaryColor1);
  border-radius: var(--cornerRadius);
  box-shadow: 3px 4px 5px var(--formText);
  color: var(--textLight);
}
.loginRegistrationButton:hover {
  scale: 1.015;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.loginGoogleRegistrationButton {
  height: 46px;
  width: 60%;
  background-color: var(--background);
  border-radius: var(--cornerRadius);
  border: 2px solid var(--formText);
}
.loginGoogleRegistrationButton:hover {
  scale: 1.015;
}

/* Home Page */
.editHomeButton {
  height: 35px;
  width: 100px;
  background-color: var(--primaryColor2);
  border-radius: var(--cornerRadius);
  box-shadow: 3px 4px 5px var(--formText);
  color: var(--textLight);
}
.header {
  justify-content: space-between;
}
.first_row {
  display: flex;
  flex-direction: row;
}
.home_weather {
  border: none;
  border-radius: 35px;
  height: 1/4;
  color: white;
}
.event_weather {
  border: none;
  border-radius: 35px;
  height: 1/4;
  color: white;
}
.home_title {
  font-size: 19px;
  color: var(--primaryColor2);
}
#loc_icon {
  margin-top: 5px;
}
#loc_name {
  margin-left: 10px;
}

.cloud_container {
  margin-top: 10px;
  border-radius: 40px;
  border: none;
  padding-left: 20px;
  background-color: var(--primaryColor2);
  width: 310px;
  margin-right: 5px;
}

.event_container {
  margin-top: 10px;
  border-radius: 40px;
  border: none;
  padding-left: 20px;
  background-color: var(--primaryColor2);
  width: 550px;
  margin-right: 5px;
}

.drop_container {
  margin-top: 10px;
  border-radius: 40px;
  border: none;
  padding-left: 20px;
  background-color: var(--primaryColor2);
  width: 310px;
  margin-left: 5px;
}

#cloud_logo {
  border: 1px solid white;
  font-size: 50px;
  height: 70px;
  width: 70px;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 50%;
  color: var(--primaryColor1);
  background-color: white;
}
#mostlycloudy {
  color: var(--gradient1);
}
.home_second_row {
  border-radius: 25px;
}

.drop_container {
  width: 48%;
  height: 120px;
  display: flex;
  border-radius: 40px;
  background-color: var(--primaryColor2);
}

.minus-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.minus-button {
  transform: scale(1.2);
  background-color: grey;
}

.circlecontainer {
  background-color: var(--gradient2);
  color: black;
  border-radius: 50%;
  font-size: 30px;
}
#add_btn {
  margin-left: 1290px;
  height: 40px;
  width: 100px;
  margin-top: 20px;
}
.blur-background {
  backdrop-filter: blur(5px);
  pointer-events: none;
}
.add-widget-container {
  background-color: var(--primaryColor2);
  margin-right: 400px;
  z-index: 1000;
  width: 500px;
  margin-bottom: 40px;
}
.widget-options {
  flex-direction: column;
}
.widget-option {
  height: 130px;
  background-color: var(--primaryColor1);
}

/* Weather Map */
.weather-map-custom-icon .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.border-radius {
  border-radius: var(--cornerRadius);
  background-color: #c60452;
}

.event-card {
  background-color: linear-gradient(to right, #029aa5, #04b9c6);
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.event-title {
  font-weight: bold;
  color: white;
  margin-top: 1px;
}

.event-description {
  font-size: 14px;
  color: white;
  margin-top: 5px;
}

.event-time {
  font-size: 12px;
  color: white;
  margin-top: 10px;
}

.route_waste_container {
  margin-top: 10px;
  border-radius: var(--cornerRadius);
  border: none;
  padding-left: 20px;
  background-color: var(--primaryColor2);
  width: full;
  height: 75px;
}

.routes_waste {
  border-radius: 25px;
}

#routes_waste_logo {
  border: 1px solid white;
  font-size: 35px;
  height: 50px;
  width: 50px;
  padding-left: 8px;
  padding-top: 8px;
  border-radius: 50%;
  color: var(--primaryColor1);
  background-color: white;
}

#routes_waste_logo2 {
  border: 1px;
  font-size: 100px;
  height: 150px;
  width: 150px;
  padding-left: 27px;
  padding-top: 27px;
  border-radius: 50%;
  color: white;
  background-color: var(--primaryColor1);
}

#road_list_waste {
  color: white;
}
