@import "../../../../Global.css";

/* General */
.mainHeaderHeight {
  min-height: 130px;
}

/* Login Page */
.loginRegistrationFormInput {
  height: 46px;
  width: 70%;
  background-color: var(--background);
  border-radius: var(--cornerRadius);
  box-shadow: 3px 4px 5px var(--formText);
  color: var(--secondaryColor);
  padding-left: 20px;
}

.nameFormInput {
  height: 46px;
  width: 50%;
  background-color: var(--background);
  border-radius: var(--cornerRadius);
  box-shadow: 3px 4px 5px var(--formText);
  color: var(--secondaryColor);
  padding-left: 20px;
}

.loginRegistrationButton {
  height: 46px;
  width: 70%;
  background-color: var(--primaryColor1);
  border-radius: var(--cornerRadius);
  box-shadow: 3px 4px 5px var(--formText);
  color: var(--textLight);
}
.loginRegistrationButton:hover {
  scale: 1.015;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.loginGoogleRegistrationButton {
  height: 46px;
  width: 60%;
  background-color: var(--background);
  border-radius: var(--cornerRadius);
  border: 2px solid var(--formText);
}
.loginGoogleRegistrationButton:hover {
  scale: 1.015;
}

/* Home Page */
.widgetButton {
  background-color: var(--gradient2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 35px;
  cursor: pointer;
  z-index: 40;
}
.widgetButton:hover {
  background-color: var(--gradient1);
  scale: 1.015;
}

.backgroundBlur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  z-index: 40;
}

/* Weather Map */
.weather-map-custom-icon .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 12px;
  font-weight: bold;
}

/* Routing */
.routeSelectButton {
  width: 100%;
  color: var(--textLight);
  background-color: var(--primaryColor1);
  border-radius: var(--cornerRadius);
  @apply py-2;
  cursor: pointer;
}
.routeSelectButton:hover {
  background-color: var(--primaryColor2);
  scale: 1.015;
}
