@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-colour: #243642;
  --secondary-color: #387478;
  --tertiary-color: #629584;
  --textLight: #e2f1e7;
  --textDark: #243642;
}

body {
  overflow: hidden;
  overscroll-behavior: none;
  font-family: "Roboto", sans-serif;
  background-color: var(--main-colour);
}

.mainBGColour {
  background-color: var(--main-colour);
}

.secondaryBGColour {
  background-color: var(--secondary-color);
}

.tertiaryBGColour {
  background-color: var(--tertiary-color);
}

.textColourDark {
  color: var(--textDark);
}

.textColourLight {
  color: var(--textLight);
}

.contentContainer {
  background-color: var(--tertiary-color);
  border-radius: 12px;
}

.sidebarContainer {
  height: 100%;
  background-color: var(--secondary-color);
}

.sidebarItems {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  color: var(--textDark);
}

.sidebarItems:hover {
  color: var(--textLight);
  cursor: pointer;
}

.sidebarIcons {
  height: 50%;
  width: 50%;
}
