@import url("https://fonts.googleapis.com/css?family=Poppins");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-colour: #b3c8cf;
  --secondary-color: #89a8b2;
  --tertiary-color: #e5e1da;
  --textLight: #f1f0e8;
  --textDark: black;

  --textLight: white;
  --textDark: black; 
  --cornerRadius: 30px;
  --primaryColor1: #029AA5;
  --primaryColor2: #04B9C6; 
  --secondaryColor: #70706F;
  --background: white;
  --formText: #70706F50;
  --margin: 24px; 
  --gradient1: #E9E9E9; 
  --gradient2: #D4D4D4;
  --error: #C60452;
  --warning: #FCFC18; 
  --success: #12DE31;
  --route1: red; 
  --route2: blue;
  --route3: black; 
}

.loginRegistrationForm {
  height: 46px;
  width: 70%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 4px 5px #70706F50;
}

.loginRegistrationButton {
  height: 46px;
  width: 70%;
  background-color: #029AA5;
  border-radius: 20px;
  box-shadow: 3px 4px 5px #70706F50;
}

.loginGoogleRegistrationButton {
  height: 46px;
  width: 60%;
  background-color: #ffffff;
  border-radius: 20px;
  /*border: 2px solid #70706F50;*/
}

body {
  overflow: hidden;
  overscroll-behavior: none;
  font-family: "Poppins", sans-serif;
  background-color: var(--main-colour);
}

.mainBGColour {
  background-color: var(--main-colour);
}

.secondaryBGColour {
  background-color: var(--secondary-color);
}

.tertiaryBGColour {
  background-color: var(--tertiary-color);
}

.textColourDark {
  color: var(--textDark);
}

.textColourLight {
  color: var(--textLight);
}

.contentContainer {
  background-color: var(--tertiary-color);
  border-radius: 12px;
  @apply shadow-xl;
}

.sidebarContainer {
  height: 100%;
  background-color: var(--secondary-color);
}

.sidebarItems {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  color: var(--textDark);
}

.sidebarItems:hover {
  color: var(--textLight);
  cursor: pointer;
}

.sidebarIcons {
  height: 50%;
  width: 50%;
}

.boxContainerWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow: auto;
}

.boxContainer {
  width: 300px;
  height: 300px;
  border: 1px solid #ffffff;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--main-colour);
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxContainer:hover {
  transform: translateY(-4px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}
