@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  overscroll-behavior: none;
  font-family: "Roboto", sans-serif;
  background-color: rgb(34, 46, 112);
}

.sidebarContainer {
  height: 100%;
  background-color: rgb(44, 62, 165);
}

.sidebarItems {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  color: rgb(96, 197, 216);
}

.sidebarItems:hover {
  color: rgb(245, 195, 82);
  cursor: pointer;
}

.sidebarIcons {
  height: 50%;
  width: 50%;
}

.boxContainerWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  max-width: 650px;
  margin: 0 auto; 
}

.boxContainer {
  width: 300px;
  height: 300px;
  border: 1px solid #ffffff;
  padding: 16px;
  border-radius: 8px;
  background-color: #4b5fa1;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
